<!DOCTYPE html>
<html>

<head>
    <title>Gallery</title>
    <style>
        table {
            border-collapse: collapse;
            text-indent: initial;
            border-spacing: 2px;
            
        }
        thead,
        tbody,
        tfoot,
        tr,
        td,
        th {
            border-color: inherit;
            border-style: solid;
            border-width: 2px;
        }
    </style>
</head>

<body>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">method0</th>
<th scope="col">method1</th>

                </tr>
            </thead>
            <tbody>
                <tr>
        <th scope="row">a0</th><td><img src="method0/a0/picture.png" width="400px" height="400px" /></td><td><img src="method1/a0/picture.png" width="400px" height="400px" /></td></tr><tr>
        <th scope="row">a2</th><td><img src="method0/a2/picture.png" width="400px" height="400px" /></td><td><img src="method1/a2/picture.png" width="400px" height="400px" /></td></tr>
            </tbody>
        </table>
    </div>
</body>

</html>